# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\myworkspace\idea-projects\baidu.shop.parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
